.sellContainer {
  display: flex;
  justify-content: space-around;
  padding: 0 48px;
  background-color: rgba(90, 90, 90, 0.2);
}
.titleContainer {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
}

.logoImage {
  position: absolute;
  left: -50%;
}

.solution {
  font-size: 180px;
  letter-spacing: 1.68px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes moveAnimationYes {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, -10px);
  }
  50% {
    transform: translate(-15px, 15px);
  }
  75% {
    transform: translate(10px, -5px);
  }
}

@keyframes moveAnimationNet {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, 15px);
  }
  50% {
    transform: translate(20px, -10px);
  }
  75% {
    transform: translate(-5px, 10px);
  }
}

@keyframes glowAnimationYes {
  0%,
  100% {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  }
  25% {
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
  }
  50% {
    text-shadow: 0 0 25px rgba(255, 255, 255, 0.8);
  }
  75% {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  }
}

@keyframes glowAnimationNet {
  0%,
  100% {
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.7);
  }
  25% {
    text-shadow: 0 0 25px rgba(255, 255, 255, 0.9);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
  75% {
    text-shadow: 0 0 12px rgba(255, 255, 255, 0.7);
  }
}

.titleContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.yesContainer,
.netContainer {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.yesContainer::after,
.netContainer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.yesContainer::after {
  animation-name: glowAnimationYes;
}

.netContainer::after {
  animation-name: glowAnimationNet;
}

.yesContainer {
  animation: moveAnimationYes 4s infinite alternate;
}

.netContainer {
  animation: moveAnimationNet 3s infinite alternate;
}

.yesCopy,
.netCopy {
}
.joinContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 96px;
  padding: 180px 0;
}
.solutionSecondary {
  text-align: center;
  font-size: 48px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.optionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 96px;
  max-width: 335px;
}

.individualOption,
.companyOption {
  position: relative;
  border: 0;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background: transparent;
  padding: 32px 48px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
}
.individualOption:hover,
.companyOption:hover {
  filter: brightness(1.6);
  box-shadow: 0px 0px 120px rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.individualOption .highlight2,
.companyOption .highlight {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: inherit;
  border-radius: 8px;
  background: linear-gradient(-90deg, #007cf0, #008b87, #ff0080, #007cf0);
  background-size: 400% 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.individualOption .highlight2:after,
.companyOption .highlight:after {
  content: "";
  position: absolute;
  background-size: inherit;
  background-image: inherit;
  animation: inherit;
  left: 0;
  right: 0;
  top: 2px;
  height: 100%;
  filter: blur(0.5rem);
  transition: 0.25s;
}

.companyOption .buttonText,
.individualOption .buttonText2 {
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  animation: background-anim-right 8s ease-in-out infinite;
}

.highlight2 {
  animation: background-anim-left 8s ease-in-out infinite;
}

@keyframes background-anim-left {
  50% {
    background-position: 140% 50%;
  }
}
@keyframes background-anim-right {
  50% {
    background-position: -140% 50%;
  }
}
