.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.accordion {
  width: 500px;
}
.item {
  margin-bottom: 5px;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
}
.item:hover::before {
  content: '';
  position: absolute;
  top: -1;
  left: -10%;
  width: 120%;
  height: 100%;
  background-color: rgba(64, 97, 143, 0.2);
  z-index: -1;
  transform: skewX(20deg);
  border-radius: 50px;
}
.item:nth-child(odd):hover::before {
  content: '';
  position: absolute;
  top: -1;
  left: -10%;
  width: 120%;
  height: 100%;
  background-color: rgba(64, 97, 143, 0.2);
  z-index: -1;
  transform: skewX(-20deg);
  border-radius: 50px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question {
  font-size: large;
  margin: 0 auto;
  margin-bottom: 42px;
}
.content {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.content p {
  margin: 0;
}

.information {
  margin-top: 42px;
  font-size: large;
}
.informationList {
  list-style-type: circle;
}
.formAnchor {
  text-decoration: underline;
  color: grey;
}
.formAnchor:hover {
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}
