.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 82px;
}
.description {
  text-align: center;
}
.navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 8px;
  padding: 30px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 8px;
  transition: border-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none;
}

.item:hover::before {
  border-color: transparent;
}

.item.active::before {
  border-color: transparent;
}

.item:hover {
  cursor: pointer;
  background-color: rgba(64, 97, 143, 0.2);
}

.item.active {
  background-color: rgba(64, 97, 143, 0.5);
}
