.googleMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 42px;
  gap: 20px;
}
.googleMap_title {
  font-size: 22px;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}
.googleMap iframe {
  --width: 85%;
  width: var(--width);
  height: 64vw;
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  .googleMap iframe {
    --width: 80%;
    height: 42vw;
  }
}

@media screen and (min-width: 1280px) {
}
