.googleMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0;
  gap: 20px;
}
.googleMap_title {
  font-size: 22px;
  text-shadow: 4px 4px 3px #000;
}
.googleMap iframe {
  --width: 85%;
  width: var(--width);
  height: 100vw;
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  .googleMap {
    margin: 250px 0;
  }

  .googleMap iframe {
    --width: 80%;
    height: 62vw;
  }
}

@media screen and (min-width: 1280px) {
  .googleMap iframe {
    --width: 70%;
    height: 38vw;
  }
}
