@font-face {
  font-family: Blanka;
  src: url('../../../fonts/Blanka-Regular.otf') format('opentype');
}

.googleMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0;
  gap: 20px;
}
.googleMap_title {
  font-weight: 900;
  margin-bottom: 12px;
  font-family: Blanka;
  text-align: center;
  font-size: 38px;
  text-transform: uppercase;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
  letter-spacing: 3px;
}
.googleMap iframe {
  --width: 85%;
  width: var(--width);
  height: 100vw;
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  .googleMap {
    margin: 250px 0;
  }

  .googleMap iframe {
    --width: 80%;
    height: 62vw;
  }
}

@media screen and (min-width: 1280px) {
  .googleMap iframe {
    --width: 70%;
    height: 38vw;
  }
}
