.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}
.accordion {
  width: 100%;
  max-width: 350px;
}
.item {
  padding: 5px 10px;
  position: relative;
}
.item:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 97, 143, 0.2);
  z-index: -1;
  border-radius: 8px;
}
.item:nth-child(odd):hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 97, 143, 0.2);
  z-index: -1;
  border-radius: 8px;
}
.title_question {
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 30px;
}
.question {
  font-size: 16px;
  text-align: center;
  margin-bottom: 42px;
  max-width: 350px;
}
.content {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}
.content p {
  margin: 0;
  padding-bottom: 10px;
  font-size: 12px;
}

.information {
  margin-top: 42px;
  font-size: 12px;
}
.informationList {
  list-style-type: circle;
}
.formAnchor {
  text-decoration: underline;
  color: grey;
}
.formAnchor:hover {
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}
.downloads {
  margin: 24px 0px;
  font-size: 14px;
}
.downloads_list {
  padding: 0px;
  list-style: none;
}
.downloads_link {
  color: red;
  text-decoration: none;
}
.downloads_avios {
  width: 80%;
  height: 800px;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .accordion {
    max-width: 500px;
  }
  .question {
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 42px;
  }
  .item {
    padding: 10px 20px;
    position: relative;
  }
  .item:hover::before {
    content: '';
    position: absolute;
    top: -1;
    left: -10%;
    width: 120%;
    height: 100%;
    background-color: rgba(64, 97, 143, 0.2);
    z-index: -1;
    transform: skewX(20deg);
    border-radius: 50px;
  }
  .item:nth-child(odd):hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10%;
    width: 120%;
    height: 100%;
    background-color: rgba(64, 97, 143, 0.2);
    z-index: -1;
    transform: skewX(-20deg);
    border-radius: 50px;
  }
  .title_question {
    padding: 12px 0;
    font-size: 18px;
  }
  .downloads {
    font-size: 15px;
  }
  .content p {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .downloads {
    font-size: 16px;
  }
  .title_question {
    padding: 14px 0;
    font-size: 20px;
  }
  .item {
    padding: 15px 30px;
    position: relative;
  }
  .accordion {
    max-width: 560px;
  }
}
