.menu {
  height: 100%;
  width: 0;
  background: #333;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1;
}

.menu.open {
  width: 70%;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 8px 20px;
  margin: 0;
  gap: 12px;
}

.menu ul li {
  padding: 4px 10px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  background: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  position: relative;
  overflow: hidden;
}

.envelop {
  transition: fill 0.4s ease;
}

.envelop:hover {
  fill: rgb(31 41 55);
}

.menu ul li::after {
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px;
  border-radius: 4px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu ul li:hover::after {
  opacity: 1;
  visibility: visible;
}

.tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 2;
}
.tooltip span {
  margin-left: 8px;
  cursor: pointer;
}
