@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap");

.menu {
  position: fixed;
  background: linear-gradient(
    160deg,
    rgba(1, 0, 48, 1) 8%,
    rgba(38, 38, 57, 1) 45%,
    rgba(51, 51, 51, 1) 63%,
    rgba(79, 79, 79, 1) 97%
  );
  right: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  max-width: 400px;
  min-width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-left: #808080 1px solid;
  overflow-y: auto;
  justify-content: space-between;
  transition: transform 0.5s;
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(100%);
}

.menuHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.arrow_right {
  margin-left: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.companyInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo_icon {
  fill: transparent;
  stroke: #808080;
  stroke-width: 0.3;
  width: 100%;
}

@keyframes colorLoop {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 135% 50%;
  }
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  color: transparent;
  text-align: center;
  background: linear-gradient(-90deg, #007cf0, #008b87, #ff0080, #007cf0);
  background-clip: text;
  animation: colorLoop 5s infinite linear;
  background-size: 400% 400%;
}

.menu ul {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.menu ul li {
  width: calc(100% - 30px);
  border-bottom: #8080806b 2px solid;
  padding-bottom: 15px;
}

.menu ul li a {
  color: unset;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

/* .contact {
  overflow: hidden;
} */

.contact {
  font-size: 15px;
  font-weight: bold;
  width: calc(100% - 30px);
  margin: 0 15px 15px 15px;
  display: flex;
  justify-content: space-evenly;
}

.contact_email_display,
.contact_phone_display {
  position: relative;
  width: 100%;
  overflow-y: hidden;
  height: 18px;
}

.contact_email_container,
.contact_phone_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.5s;
}

.contact_email_display:hover .contact_email_container,
.contact_phone_display:hover .contact_phone_container {
  transform: translateY(-18px);
}

@media screen and (min-width: 768px) {
  .menu {
    position: static;
    max-width: none;
    min-width: auto;
    border-left: unset;
    flex-direction: row;
    gap: 15px;
    height: 100%;
    width: 100%;
    background: transparent;
    overflow-y: unset;
    z-index: 1;
    align-items: unset;
    justify-content: center;
    transition: transform 0s;
  }

  .open {
    transform: translateX(0);
  }

  .close {
    transform: translateX(0);
  }

  .menuHeader {
    display: none;
  }

  .house,
  .account,
  .groupPeople,
  .news,
  .map,
  .pen {
    display: none;
  }

  .menu ul {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 8px; */
    flex-direction: row;
  }

  .menu ul li {
    width: auto;
    border: none;
    padding: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu ul li a {
    color: #ffffff7c;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: color 0.4s, background 0.4s;
    padding: 4px;
    cursor: pointer;
  }

  .menu ul li:hover a {
    color: #ffffffd0;
    background: #ffffff0e;
  }

  .contact {
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    white-space: nowrap;
    /* margin-left: 30px; */
  }

  .contact_email_display,
  .contact_phone_display {
    position: relative;
    width: 100%;
    overflow-y: unset;
    height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    color: #ffffff7c;
    cursor: pointer;
  }

  .contact_email_display:hover,
  .contact_phone_display:hover {
    color: #ffffffd0;
    background: #ffffff0e;
  }

  .contact_email_container,
  .contact_phone_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.5s;
  }

  .contact_email_display:hover .contact_email_container,
  .contact_phone_display:hover .contact_phone_container {
    transform: none;
  }

  .contact span:nth-child(2),
  .contact span:nth-child(3),
  .contact span:nth-child(5) {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
}
