@import url("https://fonts.googleapis.com/css2?family=Dhurjati&family=Roboto+Condensed:wght@900&family=Roboto+Slab:wght@300&family=Roboto:wght@500&display=swap");
@font-face {
  font-family: Blanka;
  src: url("../../fonts/Blanka-Regular.otf") format("opentype");
}

.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
  margin-bottom: 100px;
}
.promotionTitle {
  font-family: Blanka;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;

  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.valueTime {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}

.labelTime {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.infoBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  gap: 12px;
}

.promotionBtn {
  padding: 8px 12px;
  width: unset;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  background: transparent;
  color: #666;
  border: 1px solid #666;
  margin-bottom: 20px;
  transition: box-shadow, filter 0.2s ease, 0.2s ease;
  text-transform: uppercase;
}
.descriptionBtn {
  font-family: "dancing script", sans-serif;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

.promotionBtn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.7);
  filter: brightness(1.6);
}

.rectangleTimer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 56px;
  font-family: Blanka;
  font-weight: bold;
  background-clip: unset;
  background: linear-gradient(45deg, #007cf0, #008b87, #ff0080, #007cf0);
  -webkit-background-clip: text;
  color: transparent;
}
