@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap');

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.mobileMenuBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 15px;
  top: 20px;
  padding: 10px;
  background-color: #1b27357c;
  border-radius: 10px;
  z-index: 8;
}

.mobileMenuBtn svg {
  width: 100%;
  height: 100%;
}

.mobileContainer {
  position: absolute;
  z-index: 9;
  height: calc(100vh - 30px);
  width: calc(80vw - 30px);
  transition: 0.4s transform;
  transform: translateX(-102%);
  background: linear-gradient(90deg, #000000 0%, #10161e 74%, #1b2836 100%);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 30px 0 0 30px;
  gap: 90px;
}

.open {
  transform: translateX(0);
}

.mobileMenuCloseBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 15px;
  top: 20px;
  padding: 10px;
  background: #10161e;
  border-radius: 5px;
}

.mobileMenuCloseBtn span {
  width: 80%;
  height: 4px;
  background: #fff;
  transform: rotate(-45deg);
  position: absolute;
  border-radius: 5px;
}

.mobileMenuCloseBtn span:nth-child(1) {
  transform: rotate(45deg);
}

.logo_icon_container {
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.logo_icon_container a {
  width: fit-content;
  height: 100%;
}

.logo_text {
  color: #f8e700;
  font-weight: 600;
  font-size: 17px;
  font-family: 'poppins', sans-serif;
  text-shadow: 0 0 2px #ffffff, 0 0 8px #000, 0 0 12px #000;
}

.logo_icon {
  border-radius: 15px;
  border: 4px solid #fff;
  fill: #fff;
  cursor: pointer;
  height: 80px;
  width: 80px;
  padding: 15px 15px 10px 10px;
  margin-right: 5px;
}

.navigation {
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 100%;
  display: flex;
  gap: 25px;
  flex-direction: column;
  height: 100%;
}

.navigation_item {
  width: fit-content;
  border: none;
  padding: 0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.navigation_link {
  color: #ffffff;
  width: 100%;
  display: flex;
  gap: 20px;
  font-weight: 600;
  font-size: 19px;
  font-family: 'poppins', sans-serif;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  cursor: pointer;
  padding: 0;
  height: 100%;
  fill: #fff;
}

.navigation_link svg {
  fill: inherit;
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 50px;
    padding: 12px 36px;
    width: calc(100% - 72px);
    background: #000000;
    overflow: hidden;
    transition: 0.3s height, 0.3s background;
  }

  .mobileMenuBtn {
    display: none;
  }

  .mobileMenuCloseBtn {
    display: none;
  }

  .mobileContainer {
    position: unset;
    width: 100%;
    height: 100%;
    transition: none;
    transform: translateX(0);
    background: unset;
    box-shadow: unset;
    display: flex;
    flex-direction: row;
    align-items: unset;
    padding: unset;
    gap: 0;
  }

  .navigation {
    margin: 0;
    padding: 0;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    gap: 0px;
  }

  .navigation_item {
    width: fit-content;
    border: none;
    padding: 0;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
  }

  .navigation_link {
    font-weight: unset;
    font-size: unset;
    font-family: 'poppins', sans-serif;
    color: #ffffff;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: color 0.4s, fill 0.4s;
    cursor: pointer;
    padding: 0;
    border: none;
    height: 100%;
    overflow: hidden;
    fill: #fff;
  }

  .navigation_link svg {
    fill: inherit;
    width: 20px;
    aspect-ratio: 1;
    height: unset;
    flex-shrink: 0;
  }
  .navigation_link span {
    display: block;
  }

  .logo_icon_container {
    transition: 0.3s height, 0.2s opacity;
    aspect-ratio: 1;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo_icon {
    transition: fill 0.4s;
    fill: #fff;
    cursor: pointer;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: unset;
    border-radius: unset;
    border: unset;
  }

  .logo_text {
    display: none;
  }
}

@media screen and (min-width: 1280px) and (pointer: fine) {
  .header {
    display: flex;
    height: 65px;
    padding: 12px 36px;
    width: calc(100% - 72px);
    background: #000000;
    overflow: hidden;
    transition: 0.3s height, 0.3s background;
  }

  .navigation {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    gap: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
  }

  .navigation_item {
    width: 100%;
    max-width: 200px;
    min-width: 150px;
    border: none;
    padding: 0;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
  }

  .navigation_item .navigation_link {
    color: #ffffff;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    transition: color 0.4s, fill 0.4s;
    cursor: pointer;
    justify-content: unset;
    padding: 0;
    border: none;
    height: 100%;
    overflow: hidden;
    fill: #fff;
  }

  .navigation_link svg {
    fill: inherit;
    width: 30px;
    aspect-ratio: 1;
    flex-shrink: 0;
  }
  .navigation_link span {
    display: block;
  }

  .logo_icon_container {
    transition: 0.3s height, 0.2s opacity;
    aspect-ratio: 1;
    height: 65px;
  }

  .logo_icon_container svg {
    transition: fill 0.4s;
  }

  .logo_icon {
    height: 100%;
    width: 100%;
  }

  .navigation_item:hover .navigation_link {
    color: #007cf0;
    fill: #007cf0;
  }

  .scaledMenu {
    height: 30px;
    background: #000000e7;
  }

  .scaledMenu .logo_icon_container {
    height: 0px;
    opacity: 0;
  }

  .scaledMenu:hover {
    height: 65px;
    background: #000000;
  }

  .scaledMenu:hover .logo_icon_container {
    height: 65px;
    opacity: 1;
  }

  .logo_icon_container:hover svg {
    fill: #f8e700;
  }
}
