@font-face {
  font-family: Blanka;
  src: url('../../../fonts/Blanka-Regular.otf') format('opentype');
}

.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0px 16px;
  gap: 42px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contactTitle {
  text-transform: uppercase;
  font-size: 32px;
  font-family: Blanka;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
  letter-spacing: 2px;
}

.contactList {
  padding: 0px;
}

.contactItem {
  margin-bottom: 42px;
}

.contactItem > :not(span) {
  font-size: 24px;
  font-weight: bold;
}

.contactItem > :not(h3) {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
}

.importantInformation {
  font-weight: bold;
  background-clip: unset;
  background: linear-gradient(20deg, #ffb347, #f8e700, #f8e700, #ffb347);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 20px;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .contactContainer {
    margin-bottom: 100px;
  }

  .contactList {
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    flex-wrap: wrap;
    gap: 40px;
  }

  .contactItem {
    flex-basis: calc(50% - 20px);
  }

  .contactItem:nth-child(3) {
    flex-basis: 100%;
  }

  .contactTitle {
    margin-bottom: 90px;
  }

  .contactItem > :not(span) {
    font-size: 30px;
  }

  .contactItem > :not(h3) {
    display: block;
    margin-bottom: 4px;
    font-size: 22px;
  }

  .importantInformation {
    font-weight: bold;
    background-clip: unset;
    background: linear-gradient(20deg, #ffb347, #f8e700, #f8e700, #ffb347);
    -webkit-background-clip: text;
    color: transparent;
  }
}

@media screen and (min-width: 1280px) {
  .contactContainer {
    margin-bottom: 250px;
  }

  .contactItem > :not(span) {
    font-size: 24px;
  }

  .contactItem > :not(h3) {
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
  }
}
