@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Roboto+Condensed:wght@900&family=Roboto+Slab:wght@300&family=Roboto:wght@500&display=swap');
@font-face {
  font-family: Blanka;
  src: url('../../fonts/Blanka-Regular.otf') format('opentype');
}
.gradientBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: Poppins;
  width: 100%;
  height: 100%;
}
.title {
  font-family: Blanka;
  font-size: 42px;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}
.description {
  text-align: center;
  font-size: 12px;
  padding: 0px 20px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 46px;
  }
  .description {
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .title {
    font-size: 48px;
  }
  .description {
    font-size: 16px;
  }
}
