@font-face {
  font-family: Blanka;
  src: url("../../fonts/Blanka-Regular.otf") format("opentype");
}
.faqPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
  margin-bottom: 130px;
}
.faqTitle {
  font-family: Blanka;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}
.faqDescription {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
  text-align: center;
}


.faqLink_content {
  position: sticky;
  z-index: 6;
  margin-bottom: 10px;
}

.faqLink {
  color: #fff;
  background: #000;
  font-size: 24px;
  font-weight: 700;
  font-family: "blanka", sans-serif;
  padding: 20px 30px;
  width: unset;
  border-radius: 8px;
  margin-top: 32px;
  /* border: 1px solid #666; */
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faqLink::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #007cf0;
  left:0;
  top: 0;
  z-index: 5;
  animation: circleAround1 12s linear infinite;
}

.faqLink::before {
  content: "";
  position: absolute;
  width:100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ff0080;
  right:0;
  bottom: 0;
  z-index: 4;
  animation: circleAround2 12s linear infinite;
}

@keyframes circleAround1 {
  0% {
    transform: translate(190%, 0%);
  }
  50% {
    transform: translate(-110%, -50%);
  }
  100% {
    transform: translate(190%, 0%);
  }
}

@keyframes circleAround2 {
  0% {
    transform: translate(-100%, 0%);
  }
  50% {
    transform: translate(110%, 50%);
  }
  100% {
    transform: translate(-100%, 0%);
  }
}
