@font-face {
  font-family: Blanka;
  src: url('../../fonts/Blanka-Regular.otf') format('opentype');
}

.faqContainer {
  padding: 0px 16px;
  margin-bottom: 150px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.faqImage {
  max-width: 256px;
}

.faqPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.faqTitle {
  font-family: Blanka;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}
.faqDescription {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
  text-align: center;
}

.faqLink_content {
  position: sticky;
  z-index: 6;
  margin-bottom: 10px;
}

.faqLink {
  color: #fff;
  background: #000;
  font-size: 24px;
  font-weight: 700;
  font-family: 'blanka', sans-serif;
  padding: 20px 30px;
  width: unset;
  border-radius: 8px;
  /* border: 1px solid #666; */
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faqLink::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #007cf0;
  left: 0;
  top: 0;
  z-index: 5;
  animation: circleAround1 13s linear infinite;
  transition: opacity 0.5s;
}

.faqLink::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ff0080;
  right: 0;
  bottom: 0;
  z-index: 4;
  animation: circleAround2 12s linear infinite;
  transition: opacity 0.5s;
}

@keyframes circleAround1 {
  0% {
    transform: translate(190%, 0%);
  }
  50% {
    transform: translate(-110%, -50%);
  }
  100% {
    transform: translate(190%, 0%);
  }
}

@keyframes circleAround2 {
  0% {
    transform: translate(-170%, 0%);
  }
  50% {
    transform: translate(110%, 50%);
  }
  100% {
    transform: translate(-170%, 0%);
  }
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotateZ(0turn);
  }
  /* 33% {
    transform: translate(-50%, -50%) rotateZ(.33turn);
  }
  66% {

    transform: translate(-50%, -50%) rotateZ(.66turn);
  } */
  100% {
    transform: translate(-50%, -50%) rotateZ(1turn);
  }
}

.faqLink_container {
  margin-top: 48px;
  padding: 6px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.faqLink_container::before {
  content: '';
  position: absolute;
  background: conic-gradient(transparent 270deg, white, transparent);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  aspect-ratio: 1;
  width: 150%;
  opacity: 0;
  transition: opacity 0.5s;
  animation: rotation 3s linear infinite;
}

.faqLink_container:hover::before {
  opacity: 1;
}

.faqLink_container:hover .faqLink::before,
.faqLink_container:hover .faqLink::after {
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .faqContainer {
    gap: 70px;
    flex-direction: row;
    margin-bottom: 250px;
    margin-top: 250px;
  }

  .faqImage {
    max-width: 384px;
  }
}

@media screen and (min-width: 1280px) {
  .faqContainer {
    gap: 120px;
  }

  .faqImage {
    max-width: 512px;
  }
}
