@font-face {
  font-family: Blanka;
  src: url("../../fonts/Blanka-Regular.otf") format("opentype");
}
.faqPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
  margin-bottom: 64px;
}
.faqTitle {
  font-family: Blanka;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}
.faqDescription {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
  text-align: center;
}

.faqLink {
  color: #666;
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 12px;
  width: unset;
  border: 1px solid #666;
  border-radius: 8px;
  margin-top: 32px;
}
