.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

.gridContainer {
  width: 100%;
  max-width: 1680px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 20px;
}

.singleBlock {
  margin: 0 auto;
  width: 90%;
  height: 200px;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconBlock {
  width: 60px;
  height: 60px;
  background: linear-gradient(-45deg, #007cf0, #008b87, #ff0080, #007cf0);
  background-size: 400% 100%;
  position: absolute;
  transform: translateX(-50%);
  top: -10%;
  left: 50%;
  border-radius: 8px;
  box-shadow: 0px 0px 60px rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: background-anim 6s ease-in-out infinite;
}
@keyframes background-anim {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.iconBlock svg {
  width: 80%;
}

.infoBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.info {
  font-size: 14px;
  text-align: center;
  font-family: "poppins";
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
}
