@font-face {
  font-family: Blanka;
  src: url('../../fonts/Blanka-Regular.otf') format('opentype');
}
.news_container {
  padding: 0px 16px;
  margin-bottom: 130px;
}
.news_title {
  font-family: Blanka;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
}

.news_slider {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  /* justify-content: center; */
}
.news_slider::-webkit-scrollbar {
  display: none;
}

.news_item {
  scroll-snap-align: start;
  font-size: 10px;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0px;
}

.btnLeft,
.btnRight {
  display: none;
}

.news_itemTitle {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.date {
  color: #bababa;
  font-size: 11px;
  width: 90%;
}
.content_text {
  font-size: 13px;
}
.content_newsItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 90%;
  font-family: 'poppins', sans-serif;
  font-weight: 300;
}

.team_solution {
  font-size: 11px;
  text-align: end;
}

.news_indicator {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
}

.dot.active {
  background: #008b87;
  filter: brightness(1.9);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
}

.new_item_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  filter: brightness(1);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 10px 0 20px 0;
}

@media screen and (min-width: 768px) {
  .date {
    color: #bababa;
    font-size: 12px;
    width: 90%;
  }
  .content_text {
    font-size: 16px;
  }

  .team_solution {
    font-size: 12px;
    text-align: end;
  }

  .new_item_container {
    max-width: 736px;
  }
}

@media screen and (min-width: 1280px) {
  .new_item_container {
    max-width: 1200px;
  }

  .btnLeft,
  .btnRight {
    display: flex;
  }

  .emptySpace {
    width: 75px;
    aspect-ratio: 1;
  }
}
