@font-face {
  font-family: Blanka;
  src: url('../../fonts/Blanka-Regular.otf') format('opentype');
}
.news_container {
  padding: 0px 16px;
  margin-bottom: 64px;
}
.news_title {
  font-family: Blanka;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 32px;
  text-shadow: 0 0 5px #ffffff, 0 0 20px #000, 0 0 30px #000;
  letter-spacing: 2px;
}

.news_slider {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  /* justify-content: center; */
}
.news_slider::-webkit-scrollbar {
  display: none;
}

.news_item {
  scroll-snap-align: start;
  font-size: 10px;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0px;
  gap: 10px;
}

.btnLeft,
.btnRight {
  display: none;
}

.news_itemTitle {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: bold;
}

.date {
  color: #bababa;
  font-size: 12px;
  width: 90%;
}
.content_text {
  font-size: 16px;
  word-wrap: break-word;
  word-break: break-word;
  height: 100%;
}

.read_more {
  color: grey;
  cursor: pointer;
  margin-left: 4px;
}

.content_full {
  overflow: visible;
  white-space: normal;
}
.content_newsItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 90%;
  font-family: 'poppins', sans-serif;
  font-weight: 300;
}

.team_solution {
  font-size: 12px;
  text-align: end;
}

.news_indicator {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
}

.dot.active {
  background: #f8e700;
  filter: brightness(1.9);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
}

.new_item_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  filter: brightness(1);
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 10px 0 20px 0;
  margin: 0 10px;
}

.emptySpace {
  display: none;
}

@media screen and (min-width: 768px) {
  .date {
    color: #bababa;
    font-size: 14px;
    width: 90%;
  }
  .content_text {
    font-size: 18px;
  }

  .team_solution {
    font-size: 14px;
    text-align: end;
  }

  .new_item_container {
    max-width: 736px;
  }
}

@media screen and (min-width: 1280px) {
  .news_slider {
    overflow: hidden;
  }

  .new_item_container {
    max-width: 1200px;
  }

  .btnLeft,
  .btnRight {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s;
    margin: 10px;
  }

  .btnLeft svg:nth-child(1),
  .btnRight svg:nth-child(1) {
    fill: #b7b9bbff;
    z-index: 4;
  }

  .btnLeft svg:nth-child(2),
  .btnRight svg:nth-child(2) {
    --offset: 3px;
    fill: rgba(0, 0, 0);
    position: absolute;
    z-index: 3;
    left: calc(50% + var(--offset));
    top: calc(50% + var(--offset));
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .btnLeft:hover svg:nth-child(2),
  .btnRight:hover svg:nth-child(2) {
    opacity: 1;
  }

  .emptySpace {
    display: block;
    width: 90px;
    aspect-ratio: 1;
    flex-shrink: 0;
  }

  .disappear {
    opacity: 0;
  }

  .date {
    color: #bababa;
    font-size: 14px;
    width: 90%;
  }
  .content_text {
    font-size: 18px;
  }
}
